.logo {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: black;
  text-decoration: none;
}

.footer__logo {
  color: var(--secondary-text-color);
}

.logo__label {
  color: var(--accent-color);
}
