:root {
  --title-text-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --secondary-text-color: #ffffff;
  --background-icon-color: #f5f4fa;
}
