.works {
  padding-bottom: 94px;
  display: none;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.works__section {
  display: flex;
  justify-content: space-between;
}

.works__thumb {
  position: relative;
}

.works__label {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
